* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: black;
    overflow-y: scroll;
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

.header {
    height: 50px;
    width: 100%;
    background-color: black;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    border-bottom: 1px solid gray;
}

.header {
    font-size: 22px;
    font-weight: bold;
    color: rgb(211, 198, 123);
}

.logo {
    display: flex;
    align-items: center;
    color: rgb(211, 198, 123);
}

#count {
    font-size: 18px;
}

.header img {
    width: 45px;
}

.menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.menu-bar .fa-bars {
    color: white;
    font-size: 18px;
}

/*navbar*/
.navbar {
    display: flex;
}

.navbar a {
    color: white;
    font-size: 20px;
    margin: 0 25px;
    transition: all ease 0.3s;
}

.navbar a:hover {
    color: rgb(192, 180, 112);
}

.navbar a.active {
    color: rgb(192, 180, 112);
}

@media(max-width: 850px) {
    .navbar {
        position: absolute;
        width: 180px;
        height: 15vh;
        padding: 10px;
        top: 100%;
        right: -50%;
        display: flex;
        text-align: center;
        flex-direction: column;
        background-color: rgb(161, 149, 80);
        transition: all 0.4s ease-out;
    }

    .navbar a {
        display: block;
        color: black;
        padding: 3px;
        margin: 5px 0;
        font-weight: 500;
        font-size: 20px;
    }

    .navbar a:hover {
        background-color: black;
        border-radius: 10px;
    }

    .navbar.open {
        right: 0;
    }
    
}
@media(max-width: 600px){
    
#content{
    width: 410px;
    height: 400px;
}
}
.container{
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 600px;
    height: 400px;
}
.tabs{
    position: relative;
    width: 80px;
    padding: 40px 0;
}
.tabs input{
    appearance: none;
    display: none;
}
.tabs .icon{
    position: relative;
    display: flex;
    flex-direction: column;
}
.tabs .icon label{
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 1.3em;
    color: white;
    opacity: 0.40;
    transition: 0.5s;
    cursor: pointer;
    padding: 50%;
    line-height: 80px;
}
.tabs input:nth-child(1):checked ~ .icon label:nth-child(1),
.tabs input:nth-child(2):checked ~ .icon label:nth-child(2),
.tabs input:nth-child(3):checked ~ .icon label:nth-child(3),
.tabs input:nth-child(4):checked ~ .icon label:nth-child(4) {
    opacity: 1;
}
.indicator{
    position: absolute;
    width: 70px;
    height: 60px;
    background-color:  rgb(192, 180, 112);
    z-index: 1;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: 0.5s;
}
.indicator::before{
    content: "";
    position: absolute;
    top: -20px;
    right: 0;
    width: 10px;
    border-bottom-right-radius: 20px;
    box-shadow: 8px 8px 0 8px  rgb(192, 180, 112);
    height: 20px;
    background: transparent;
}

.indicator::after{
    content: "";
    position: absolute;
    bottom: -20px;
    right: 0;
    width: 10px;
    border-top-right-radius: 20px;
    box-shadow: 8px -8px 0 8px  rgb(192, 180, 112);
    height: 20px;
    background: transparent;
}
.tabs input:nth-child(1):checked ~ .icon .indicator{
    top: 0;
}

.tabs input:nth-child(2):checked ~ .icon .indicator{
    top: 25%;
}

.tabs input:nth-child(3):checked ~ .icon .indicator{
    top: 50%;
}

.tabs input:nth-child(4):checked ~ .icon .indicator{
    top: 75%;
}
.content{
    position: absolute;
    top: 0;
    left: 70px;
    width: 550px;
    height: 400px;
    background:  rgb(192, 180, 112);
    border-radius: 20px;
    font-size: 20px;
}
.content .contentBx{
    position: absolute;
    inset: 0;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    padding: 50px;
}
.content .btn{
    background-color: black;
    color:  rgb(192, 180, 112);
    border: none;
    font-size: 20px;
    width: 100%;
    padding: 10px;
    margin-top: 30%;
}
.content a{
    color:  rgb(192, 180, 112);
}
.content button:hover{
    background-color: transparent;
    color: black;
    border: 2px solid black;
    font-weight: 600;
}
.content a:hover{
    color: black;
}

.tabs input:nth-child(1):checked ~ .content .contentBx:nth-child(1),
.tabs input:nth-child(2):checked ~ .content .contentBx:nth-child(2),
.tabs input:nth-child(3):checked ~ .content .contentBx:nth-child(3),
.tabs input:nth-child(4):checked ~ .content .contentBx:nth-child(4){
    opacity: 1;
    visibility: visible;
}
/*footer*/
footer{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    color: white;
}
.name {
    color: white;
    text-align: center;
    border-top: 2px solid white;
    padding: 5px;
}

.name h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.name p {
    border: 2px solid white;
    border-radius: 30px;
    width: 20px;
}

.name span {
    color: rgb(221, 205, 111);
}

@media(max-width:600px) {
    .name {
        font-size: 12px;
    }
}